In [1]:
import pandas as pd
import numpy as np
from pandas.plotting import scatter_matrix
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error
import matplotlib.pyplot as plt
import xgboost
import optuna

import joblib
import os
import datetime

/Users/luca/Documents/Proyectos personales/xtream-ai-assignment-developer/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
def load_data(file):
    """
    Load and preprocess the data.
    """
    diamonds = pd.read_csv(file)
    diamonds = diamonds[(diamonds.x * diamonds.y * diamonds.z != 0) & (diamonds.price > 0)]
    diamonds_dummy = pd.get_dummies(diamonds, columns=['cut', 'color', 'clarity'], drop_first=True)

    return diamonds_dummy

In [3]:
data_file = "https://raw.githubusercontent.com/xtreamsrl/xtream-ai-assignment-engineer/main/datasets/diamonds/diamonds.csv"
data = load_data(data_file) 
data.head()

,carat,depth,table,price,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1.10,62.0,55.0,4733,6.61,6.65,4.11,False,True,False,...,True,False,False,False,False,True,False,False,False,False
1,1.29,62.6,56.0,6424,6.96,6.93,4.35,False,True,False,...,True,False,False,False,True,False,False,False,False,False
2,1.20,61.1,58.0,5510,6.88,6.80,4.18,False,False,True,...,False,True,False,False,True,False,False,False,False,False
3,1.50,60.9,56.0,8770,7.43,7.36,4.50,False,True,False,...,False,False,False,False,True,False,False,False,False,False
4,0.90,61.7,57.0,4493,6.17,6.21,3.82,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [4]:
def split_data(data):
    """
    Split data into training and testing sets.
    """
    x = data.drop(columns='price')
    y = data.price
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    
    return x_train, x_test, y_train, y_test

In [5]:
x_train, x_test, y_train, y_test = split_data(data)